.table {
  border-collapse: collapse;
  width: 100%;
}

.table__header {
  background-color: #f2f2f2;
}
.table__rowtable__header {
  padding-right: 0;
}

.table__cell {

  margin: auto;
  text-decoration: none;
}
.table__cell--active {
  background-color: white;
  text-align: center;
  color: green;
  border: 1px solid green;
  border-radius: 20px;
  height: 28px;
  line-height: 20px;
  width: 50px;
}
.table__cell-text--active {
  font-size: 12px;
}
.table__button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.table__button-edit {
  width: 30%;
}
.table__button-delete {
  width: 30%;
}

.page-item {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  min-width: 40px;
  text-align: center;

}
.page-link {
  text-decoration: none;
  font-size: 16px;
  color: #939393;
  min-width: 40px;

}

.table__cell--date {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;

}

.active {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid rgb(55, 72, 55);
  
}
.link__fb{
  text-decoration: none;
  color: black;
}
.next{
  font-size: 12px;
}